<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item</key>
	<array>
		<dict>
			<key>title</key>
			<string>首页</string>
			<key>icon</key>
			<string>hot_video_normal</string>
			<key>selImage</key>
			<string>hot_video_select</string>
			<key>destVc</key>
			<string>XKXHomeController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>帮TA上热门</string>
			<key>icon</key>
			<string>help_hot_icon_n</string>
			<key>selImage</key>
			<string>help_hot_icon_p</string>
			<key>destVc</key>
			<string>XKXHotViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>添加好友</string>
			<key>icon</key>
			<string>add_friend</string>
			<key>selImage</key>
			<string>add_friend_select</string>
			<key>destVc</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>声音库</string>
			<key>icon</key>
			<string>music_normal</string>
			<key>selImage</key>
			<string>music_select</string>
			<key>destVc</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>本地作品</string>
			<key>icon</key>
			<string>local_video_normal</string>
			<key>selImage</key>
			<string>local_video_select</string>
			<key>destVc</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>设置</string>
			<key>icon</key>
			<string>setting_normal</string>
			<key>selImage</key>
			<string>setting_select</string>
			<key>destVc</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
